# --- Секреты и Файлы Окружения ---
# Никогда не отправляйте в репозиторий секреты или файлы, 
# специфичные для окружения.
*.env
.env.*
*.txt

# --- Python ---
# Игнорируем кэш и скомпилированные файлы Python.
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Игнорируем папки виртуальных окружений.
env/
venv/
.venv/

# --- Файлы, Генерируемые во время Работы ---
# Игнорируем базу данных планировщика APScheduler.
jobs.sqlite
jobs.sqlite-journal

# Игнорируем файлы логов, которые могут быть созданы.
*.log
logs/

# --- Файлы IDE / Редакторов ---
# Игнорируем папки с настройками популярных редакторов.
.idea/
.vscode/
*.swp

# --- Файлы Операционной Системы ---
# Игнорируем системные файлы macOS.
.DS_Store

# Игнорируем кэш превью изображений Windows.
Thumbs.db